{{#link-to 'post' post.id}}
<div class="well holder">
<div class="well">
  <li>
  <div class="col-lg-6">
    Submitted by: {{post.author}}
  </div>
  <div class="col-lg-6">
    Question: {{post.title}}
  </div>
</li>
</div>
</div>
{{/link-to}}
