{{#link-to 'post' post.id}}
<div class="well holder">
  <li>
    <div class="col-lg-6">
      <span class="orange">Submitted by: {{post.author}}</span>
    </div>
    <div class="col-lg-6">
      <span class="teal">  Question: {{post.title}}</span>
    </div>
  </li>
  <br>
  <br>
  <br>
</div>
{{/link-to}}
