{{outlet}}
<h2>About:</h2>
<p>Historia was created on March 24th, 2017 for a school project by Xia Amendolara in Portland, Oregon. Historia served as an independant project for Epicodus, which is a code school located in Portland. Historia utilizes and showcases the power of the Ember framework for JavaScript. </p>
