<div class="container">
  <div class="jumbotron">
    <div class="center">
    <h1>Welcome to Historia!</h1>
    <h4>A place where you can ask questions on the history of anything!</h4>
    </div>
  </div>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">{{#link-to 'index'}}Home{{/link-to}}</a>
          <a class="navbar-brand">{{#link-to 'about'}} About{{/link-to}}</a>
          <a class="navbar-brand">{{#link-to 'contact'}}Contact{{/link-to}}</a>
        </div>
      </div>
    </nav>
  </header>
  {{outlet}}
</div>

  <!-- How sample file path for anchors and image <img src="/icons/home.png" alt=""/>  -->
