<div class="center">
<h4>Post your question below, or feel free to answer someone's query !</h4>
</div>

{{new-post savePost="savePost"}}

<h2>Recent Questions:</h2>

<ul>
  {{#each model.posts as |post|}}
  {{post-tile post=post}}
  {{/each}}
</ul>
