<h2><span class="orange">{{model.author}}'s post</span></h2>
{{update-post update='update' post=model}}
{{post-detail post=model destroyPost="destroyPost" destroyAnswer="destroyAnswer"  }}


{{new-answer saveAnswer="saveAnswer" post=model}}
